{% extends 'base.html' %}

{% block title %}
Index page
{% endblock %}

{% block body %}
    <div class="container">
        <h1 style="text-align: left; font-size: 30px ;font-weight: 1000 ; line-height: 3.5; color :tomato">Project members</h1>
        <h2 style="font-size: 19px ;font-weight: 1000 ;text-indent: 25px;">Ռուբեն Բեջանյան</h2>
        <h2 style="font-size: 19px ;font-weight: 1000 ;text-indent: 25px;">Լիլիթ Եղիազարյան</h2>
        <h2 style="font-size: 19px ;font-weight: 1000 ;text-indent: 25px;">Արփինե Քեյան</h2>
        <h2 style="font-size: 19px ;font-weight: 1000 ;text-indent: 25px;">Թերեզա Արամյան</h2>
        <h2 style="font-size: 19px ;font-weight: 1000 ;text-indent: 25px;">Հարություն Խուրշուդյան</h2>


    </div>

{% endblock %}